{
  "http_interactions": [
    {
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"url\":\"wss:\\/\\/wss-primary.slack.com\\/link\\/?ticket=not-a-real-ticket&app_id=notarealappid\"}"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "x-slack-backend": [
            "r"
          ],
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "x-slack-shared-secret-outcome": [
            "no-match"
          ],
          "x-slack-edge-shared-secret-outcome": [
            "no-match"
          ],
          "x-edge-backend": [
            "envoy-www"
          ],
          "x-backend": [
            "main_normal main_canary_with_overflow main_control_with_overflow"
          ],
          "x-server": [
            "slack-www-hhvm-main-iad-xttl"
          ],
          "x-slack-unique-id": [
            "ZIMhe4bXTefua-Sz3UzXFAAAACs"
          ],
          "x-slack-req-id": [
            "b034ab6624140bb379a903dc06476270"
          ],
          "x-accepted-oauth-scopes": [
            "connections:write"
          ],
          "x-oauth-scopes": [
            "connections:write,authorizations:read,app_configurations:write"
          ]
        }
      },
      "request": {
        "uri": "https://slack.com/api/apps.connections.open",
        "body": {
          "encoding": null,
          "string": ""
        },
        "method": "post",
        "headers": {
          "authorization": [
            "Bearer xoxn-not-a-real-token"
          ],
          "content-type": [
            "application/x-www-form-urlencoded"
          ]
        }
      },
      "recorded_at": "Fri, 09 Jun 2023 12:56:27 +0000"
    }
  ],
  "recorded_with": "rVCR 0.1.1"
}