[Unit]
Description=Termibot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=admin
WorkingDirectory=/home/admin/termibot/bot
ExecStart=/home/admin/.cargo/bin/cargo run --release

[Install]
WantedBy=multi-user.target
