{
  "http_interactions": [
    {
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"url\":\"ws://localhost:12345/\"}"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "x-accepted-oauth-scopes": [
            "connections:write"
          ],
          "x-edge-backend": [
            "envoy-www"
          ],
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "x-slack-shared-secret-outcome": [
            "no-match"
          ],
          "x-slack-edge-shared-secret-outcome": [
            "no-match"
          ],
          "x-server": [
            "slack-www-hhvm-main-iad-edud"
          ],
          "x-backend": [
            "main_normal main_canary_with_overflow main_control_with_overflow"
          ],
          "x-slack-backend": [
            "r"
          ],
          "x-slack-req-id": [
            "07badd71b528c8fdca4a106735389b8d"
          ],
          "x-oauth-scopes": [
            "connections:write,authorizations:read,app_configurations:write"
          ],
          "x-slack-unique-id": [
            "ZINWKWKAT880rBuMN46JbQAAACs"
          ]
        }
      },
      "request": {
        "uri": "https://slack.com/api/apps.connections.open",
        "body": {
          "encoding": null,
          "string": ""
        },
        "method": "post",
        "headers": {
          "authorization": [
            "Bearer xoxn-not-a-real-token"
          ],
          "content-type": [
            "application/x-www-form-urlencoded"
          ]
        }
      },
      "recorded_at": "Fri, 09 Jun 2023 16:41:13 +0000"
    }
  ],
  "recorded_with": "rVCR 0.1.1"
}